.row{
    margin:0 auto;
}
.row>div>ul>li>a:hover{
    color:orange;
}
.row>div>ul>li>a{
    text-decoration:none;
    color:whitesmoke;
}

.row>div>ul{
    margin-right:220px;
}
.disappear{
    display:none;
}
.active{
    display:block;
}
